
/* CSS Document */

#pageWrap{
	width:auto;
	display:none;	
}
#mobileWrap{
	display:block;	
}
#index{
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	width:auto;
	min-width:0px;
}
#pageWrap{
	width:auto;
}
#mobileWrap{
	margin:0 auto;
	min-width:270px;
	width:auto;
}
#mobileLogin{
	margin:0 auto;
	width:270px;
	padding:40px 25px 40px 25px;
}
#mobileLogin img{
	padding:0 0 25px 0;	
}
#mobileLogin label{
	font-size:18px;
	font-weight:bold;
	color:#015385;
}
#mobileLogin input{
	width:258px;
	height:28px;
	border-top:2px solid #9f9f9f;
	margin:0 0 20px 0;
	padding:0 3px;
	color:#333;
	font-family: Verdana;
}
#mobileLogin #ibLogin{
	width:194px;
	height:46px;
	margin:0 auto;
	display:block;	
}

#mobileLogin p{
	color:#333;
	font-size:12px;
	margin:5px 15px 20px 0;
}
#mobileLogin a{
	color:#015385;
	font-weight:bold;
	font-size:13px;
	
}
#mobileTermUse{

	/*background:url(../images/mobile/bkgd-plain2flip.jpg) no-repeat top center;*/
	/*position:absolute;
	top:0px;*/
	width:270px;
	/*width:auto;*/
	margin:0 auto;
	/*background-color:#fff;*/
	/*z-index:99;	*/
	padding:10px 25px;
}
#mobileBackLogin{
	
}
#mobileBackLogin img{
	margin:0 auto;
	display:block;
}	
#mobileTermUse h2{
	font-size:18px;
	text-transform:uppercase;
	/*color:#015385;*/
}
#mobileTermUse h3{
	font-size:13px;
	text-transform:uppercase;
	/*color:#0066CC;*/
}
#mobileTermUse p,
#mobileTermUse li{
	font-size:13px;
}